/*************
* COMPONENTS *
**************/

input[type='checkbox'] {
    cursor: pointer;
    border-radius: 2px;
    height: 16px;
    width: 16px;
    padding: 0 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--color-input-bg);
    border: 1px solid var(--color-input-border);
    position: relative;

    &:checked::after {
        position: absolute;
        display: block;
        content: '✔';
        left: calc(50% - 6px);
        top: 0;
        height: 12px;
        width: 12px;
        color: var(--color-card-bg);
    }

    &:checked {
        background: var(--primary-icon);
        border: none;
    }
}

.btn-primary {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 32px;

    color: $white;
    background: $primary-60;
    border: none;
    // font-size: 13px;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: Secondary;

    &:hover:not([disabled]) {
        background: $primary-70;
    }

    &:active:not([disabled]) {
        background: $primary-80;
    }

    &:focus:not([disabled]) {
        box-shadow: 0 0 0 1px $primary-50 inset, 0 0 0 1px $primary-50,
            0 0 0 4px rgba($primary-60, 0.3);
    }

    &:disabled {
        opacity: 50%;
        box-shadow: none;
        border: none;
    }

    span {
        text-align: right;
    }

    svg {
        fill: $white;
        height: 13px;
        width: 13px;
        padding-top: 2px;
    }
}

.btn-secondary {
    @extend .btn-primary;

    background: rgba($color: $input-border-dark, $alpha: 0.3);
    color: var(--color-text-primary);

    &:hover:not([disabled]) {
        background: var(--color-input-border);
    }

    &:active:not([disabled]) {
        background: rgba($color: $input-border-dark, $alpha: 0.5);
    }

    &:focus:not([disabled]) {
        box-shadow: 0 0 0 1px $primary-50 inset, 0 0 0 1px $primary-50,
            0 0 0 4px rgba($primary-60, 0.3);
    }

    svg {
        fill: var(--primary-icon);
    }
}
