.message {
    position: relative;
    margin: 8px 16px 0 16px;
    padding: 0 8px;
    min-height: 32px;
    display: flex;
    align-items: center;

    border-radius: 4px;

    font-size: 13px;
    font-weight: 400;
    line-height: 0;
    font-family: Primary;
    background: var(--snack-bg);
    &-icon {
        margin-right: 4px;
        height: 16px;
        width: 16px;
        cursor: pointer;

        svg {
            fill: $grey-90;
        }
    }

    .action {
        position: relative;
        display: flex;
        align-items: center;
        height: 24px;
        padding: 0 8px;
        margin-left: 8px;
        background: rgba(12, 12, 13, 0.1);
        border-radius: 2px;
        &:hover {
            background: rgba(12, 12, 13, 0.2);
            cursor: pointer;
        }
    }

    .icon-close {
        position: absolute;
        right: 4px;
        cursor: pointer;

        &:hover,
        &:active {
            background: rgba(12, 12, 13, 0.2);
        }
    }
}

.check {
    @extend .message;
    background: $green-60;
    color: $black;
}

.warning {
    @extend .message;
    background: $yellow-60;
    color: $black;
}

.cross {
    @extend .message;
    background: $red-60;
    color: $black;
}

.info {
    @extend .message;
    background: #ededf0;
    color: $text-primary-light;
}
