{
    "root": true,
    "extends": [
        "plugin:prettier/recommended",
        "eslint:recommended",
        "airbnb-base",
        "prettier"
    ],
    "env": {
        "browser": true,
        "webextensions": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020
    },
    "plugins": ["no-unsanitized", "prettier"],
    "ignorePatterns": ["**/addon/**"],
    "rules": {
        "no-underscore-dangle": "off",
        "consistent-return": "off",
        "no-console": "off",
        "no-unsanitized/method": "error",
        "no-unsanitized/property": "error",
        "prettier/prettier": ["error"]
    }
}
