@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* padding: 0 5px; */
  padding: 10px 15px 10px 5px;
  margin: 0 5px 0 0;
  width: 260px;
  display: grid;
  grid-gap: 10px;
  align-items: flex-start;
  justify-items: center;
  background: #f8f4e5;
}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 4pt;
  /* margin-bottom: 28pt; */
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #ffa580;
}

input:disabled {
  /* background: #d3d3d3; */
  background: #939393;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2a293e;
  box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  /* display: block; */
  margin: 0 auto;
  line-height: 28pt;
  font-family: "Fjalla One";
  color: rgba(0, 0, 0, 0.87);
  padding: 0 5px;
  background: #ffa580;
  /* letter-spacing: 2px; */
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

::selection {
  background: #ffc8ff;
}

.contact-us {
  background: #f8f4e5;
  border: 2px solid black;
  /* box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black; */
  box-shadow: 3px 3px 1px #ffa580, 3px 3px 1px 1px black;
}

.dark {
  background: #2a293e;
  box-shadow: 3px 3px 1px #ffa580, 3px 3px 1px 1px #95a4ff;
  border: 2px solid white;
}
.message {
  width: 100%;
  /* min-width: 250px; */
  color: rgba(0, 0, 0, 0.87);
  background: #ffa580;
  border: 1px solid black;
  line-height: 28pt;
  font-family: "Fjalla One";
  text-align: center;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
.action-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-bottom: 4pt;
}
.icon {
  /* min-width: 250px; */

  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffa580;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
  transition: 0.2s all ease-in-out;
  /* background-color: teal; */
}

.header {
  flex-grow: 1;
  line-height: 18pt;
  font-family: "Fjalla One";
  color: rgba(0, 0, 0, 0.87);
}

.sub-header {
  line-height: 8pt;
  font-family: "Fjalla One";
  font-size: x-small;
  color: rgba(0, 0, 0, 0.54);
}

.icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  /* background: #d3d3d3; */
}
