// Firefox colors

// $accentcolor: null;
// $​​bookmark_text: null;
// $​​button_background_active: null;
// $​​button_background_hover: null;
// $​​frame: hsl(240, 5%, 5%);
// $​​frame_inactive: null;
// $​​icons: rgba(249, 249, 250, 0.7);
// $​​icons_attention: null;
// $​​ntp_background: #2a2a2e;
// $​​ntp_text: rgb(249, 249, 250);
// $​​popup: #4a4a4f;
// $​​popup_border: #27272b;
// $​​popup_highlight: null;
// $​​popup_highlight_text: null;
// $​​popup_text: rgb(249, 249, 250);
// $​​sidebar: #38383d;
// $​​sidebar_border: rgba(255, 255, 255, 0.1);
// $​​sidebar_highlight: null;
// $​​sidebar_highlight_text: null;
// $​​sidebar_text: rgb(249, 249, 250);
// $​​tab_background_separator: null;
// $​​tab_background_text: rgb(249, 249, 250);
// $​​tab_line: #0a84ff;
// $​​tab_loading: null;
// $​​tab_selected: null;
// $​​tab_text: null;
// $​​textcolor: null;
// $​​toolbar: hsl(240, 1%, 20%);
// $​​toolbar_bottom_separator: hsl(240, 5%, 5%);
// $​​toolbar_field: rgb(71, 71, 73);
// $​​toolbar_field_border: rgba(249, 249, 250, 0.2);
// $​​toolbar_field_border_focus: null;
// $​​toolbar_field_focus: null;
// $​​toolbar_field_highlight: null;
// $​​toolbar_field_highlight_text: null;
// $​​toolbar_field_separator: #5f6670;
// $​​toolbar_field_text: rgb(249, 249, 250);
// $​​toolbar_field_text_focus: null;
// $​​toolbar_text: null;
// $​​toolbar_top_separator: null;
// $​​toolbar_vertical_separator: null;

$black: #000000;
$white: #ffffff;

// Light Theme
$grey-10: #f9f9fa;
$grey-10-a10: rgba(249, 249, 250, 0.1);
$grey-10-a20: rgba(249, 249, 250, 0.2);
$grey-10-a40: rgba(249, 249, 250, 0.4);
$grey-10-a60: rgba(249, 249, 250, 0.6);
$grey-10-a80: rgba(249, 249, 250, 0.8);
$grey-20: #ededf0;
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-50: #737373;
$grey-60: #4a4a4f;
$grey-70: #38383d;
$grey-80: #2a2a2e;
$grey-90: #0c0c0d;
$grey-90-a05: rgba(12, 12, 13, 0.05);
$grey-90-a10: rgba(12, 12, 13, 0.1);
$grey-90-a20: rgba(12, 12, 13, 0.2);
$grey-90-a30: rgba(12, 12, 13, 0.3);
$grey-90-a40: rgba(12, 12, 13, 0.4);
$grey-90-a50: rgba(12, 12, 13, 0.5);
$grey-90-a60: rgba(12, 12, 13, 0.6);
$grey-90-a70: rgba(12, 12, 13, 0.7);
$grey-90-a80: rgba(12, 12, 13, 0.8);
$grey-90-a90: rgba(12, 12, 13, 0.9);

// Primary
$primary-40: #45a1ff;
$primary-50: #0a84ff;
$primary-50-a30: rgba(10, 132, 255, 0.3);
$primary-60: #0060df;
$primary-70: #003eaa;
$primary-80: #002275;
$primary-90: #000f40;

$green-50: #30e60b;
$green-60: #12bc00;
$green-70: #058b00;
$green-80: #006504;
$green-90: #003706;

$yellow-50: #ffe900;
$yellow-60: #d7b600;
$yellow-70: #a47f00;
$yellow-80: #715100;
$yellow-90: #3e2800;

$red-50: #ff0039;
$red-60: #d70022;
$red-70: #a4000f;
$red-80: #5a0002;
$red-90: #3e0200;

// Light Theme Vars
$text-primary-light: #242323;
$text-secondary-light: $grey-50;
$bg-light: #d7d7db;
$bg-card-light: #fff;
$input-bg-light: $white;
$input-border-light: $grey-90-a30;
$primary-icon-light: $grey-90-a80;
$secondary-icon-light: $grey-90-a60;

// Dark theme vars
$text-primary-dark: #efecec;
$text-secondary-dark: $grey-40;
$bg-dark: #191919;
$bg-card-dark: #242526;
$input-bg-dark: $grey-60;
$input-border-dark: $grey-50;
$primary-icon-dark: $grey-10-a80;
$secondary-icon-dark: $grey-10-a60;

$height: 590px;
$width: 348px;
