// theme colors

// $accentcolor: null;
// $​​bookmark_text: null;
// $​​button_background_active: null;
// $​​button_background_hover: null;
$​​frame: hsl(240, 5%, 5%);
// $​​frame_inactive: null;
$​​icons: rgba(249, 249, 250, 0.7);
// $​​icons_attention: null;
$​​ntp_background: #2a2a2e;
$​​ntp_text: rgb(249, 249, 250);
$​​popup: #4a4a4f;
$​​popup_border: #27272b;
// $​​popup_highlight: null;
// $​​popup_highlight_text: null;
$​​popup_text: rgb(249, 249, 250);
$​​sidebar: #38383d;
$​​sidebar_border: rgba(255, 255, 255, 0.1);
// $​​sidebar_highlight: null;
// $​​sidebar_highlight_text: null;
$​​sidebar_text: rgb(249, 249, 250);
// $​​tab_background_separator: null;
$​​tab_background_text: rgb(249, 249, 250);
$​​tab_line: #0a84ff;
// $​​tab_loading: null;
// $​​tab_selected: null;
// $​​tab_text: null;
// $​​textcolor: null;
$​​toolbar: hsl(240, 1%, 20%);
$​​toolbar_bottom_separator: hsl(240, 5%, 5%);
$​​toolbar_field: rgb(71, 71, 73);
$​​toolbar_field_border: rgba(249, 249, 250, 0.2);
// $​​toolbar_field_border_focus: null;
// $​​toolbar_field_focus: null;
// $​​toolbar_field_highlight: null;
// $​​toolbar_field_highlight_text: null;
$​​toolbar_field_separator: #5f6670;
$​​toolbar_field_text: rgb(249, 249, 250);
// $​​toolbar_field_text_focus: null;
// $​​toolbar_text: null;
// $​​toolbar_top_separator: null;
// $​​toolbar_vertical_separator: null;
