// Base Colors
$black: #000000;
$white: #ffffff;
$grey-10: #f9f9fa;
$grey-10-a10: rgba(249, 249, 250, 0.1);
$grey-10-a20: rgba(249, 249, 250, 0.2);
$grey-10-a40: rgba(249, 249, 250, 0.4);
$grey-10-a60: rgba(249, 249, 250, 0.6);
$grey-10-a80: rgba(249, 249, 250, 0.8);
$grey-20: #ededf0;
$grey-30: #d7d7db;
$grey-40: #b1b1b3;
$grey-50: #737373;
$grey-60: #4a4a4f;
$grey-70: #38383d;
$grey-80: #2a2a2e;
$grey-90: #0c0c0d;
$grey-90-a05: rgba(12, 12, 13, 0.05);
$grey-90-a10: rgba(12, 12, 13, 0.1);
$grey-90-a20: rgba(12, 12, 13, 0.2);
$grey-90-a30: rgba(12, 12, 13, 0.3);
$grey-90-a40: rgba(12, 12, 13, 0.4);
$grey-90-a50: rgba(12, 12, 13, 0.5);
$grey-90-a60: rgba(12, 12, 13, 0.6);
$grey-90-a70: rgba(12, 12, 13, 0.7);
$grey-90-a80: rgba(12, 12, 13, 0.8);
$grey-90-a90: rgba(12, 12, 13, 0.9);

// Light Theme Vars
$text-primary-light: $grey-90;
$text-secondary-light: $grey-50;
$bg-light: $grey-30;
$bg-card-light: $grey-10;
$input-bg-light: $white;
$primary-icon-light: $grey-90-a80;
$secondary-icon-light: $grey-90-a60;

// Dark theme vars
$text-primary-dark: $white;
$text-secondary-dark: $grey-40;
$bg-dark: $grey-80;
$bg-card-dark: $grey-70;
$input-bg-dark: $grey-60;
$primary-icon-dark: $grey-10-a80;
$secondary-icon-dark: $grey-10-a60;

// Accent
$accent-1: #0060df;

$height: 590px;
$width: 348px;

//light
:root {
  --color-bg: #{$bg-light};
  --color-card-bg: #{$bg-card-light};

  --color-text-primary: #{$text-primary-light};
  --color-text-secondary: #{$text-secondary-light};

  --color-input-bg: #{$input-bg-light};

  --color-input-border: #{$grey-30};

  --primary-icon: #{$primary-icon-light};
  --secondary-icon: #{$secondary-icon-light};
}

.dark {
  --color-bg: #{$bg-dark};
  --color-card-bg: #{$bg-card-dark};
  --color-text-primary: #{$text-primary-dark};
  --color-text-secondary: #{$text-secondary-dark};

  --color-input-bg: #{$input-bg-dark};

  --color-input-border: #{$grey-50};

  --primary-icon: #{$primary-icon-dark};
  --secondary-icon: #{$secondary-icon-dark};
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-bg);
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #0a84ff;
}

.hidden {
  display: none;
}

/********
* ROOTS *
*********/

.container {
  position: relative;
  @extend .center-bottom;

  width: $width;
  height: $height;
  background: var(--color-bg);
}

.card {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 2px 2px 0 0;
  padding-bottom: 8px;
  box-shadow: 0 0 4px rgba(12, 12, 13, 0.2);
  background: var(--color-card-bg);

  &::before {
    content: "";
    position: relative;
    display: block;
    height: 40px;
  }

  /* Ghost Button */
  &-menu-icon {
    display: none;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;

    position: absolute;
    top: 16px;
    left: 16px;
    height: 24px;
    width: 24px;

    svg {
      fill: var(--primary-icon);
      height: 16px;
      width: 16px;
    }

    &:hover {
      background: rgba(12, 12, 13, 0.2);
    }

    &:active {
      background: rgba(12, 12, 13, 0.3);
    }
  }

  &-icon {
    @extend .center-center;

    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    height: 80px;
    width: 80px;
    background: var(--color-card-bg);
    border-radius: 50%;
    box-shadow: 0 -4px 4px -4px rgba(12, 12, 13, 0.2);

    img {
      margin-top: 2px;
      height: 70px;
    }
  }

  &-header {
    // background: green;
    text-align: center;
    &-main {
      font-size: 17px;
      font-weight: 500;
      color: var(--color-text-primary);
    }

    &-sub {
      font-size: 11px;
      color: var(--secondary-icon);
    }
  }

  .info {
    @extend .message;
    background: #ededf0;
  }

  .form {
    // display: none;

    &-label {
      // background: pink;

      position: relative;
      width: 100%;
      padding: 4px 16px;
      font-size: 13px;
      line-height: 1.4;
      color: var(--color-text-primary);
    }

    &-separator {
      // background: turquoise;

      padding: 8px;
    }

    &-link {
      // background: purple;

      padding-top: 4px;
      text-align: center;
      width: 100%;
      font-size: 13px;
    }

    &-group {
      // background: yellow;

      height: 40px;
      padding: 8px 16px;
      position: relative;
      display: flex;
      width: 100%;
      margin-bottom: 2px;

      .input-icon {
        position: absolute;
        top: 8px;
        left: 16px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;

        svg {
          fill: var(--primary-icon);
          height: 16px;
          width: 16px;
        }
      }

      input {
        height: 32px;
        background: var(--color-input-bg);
        color: var(--color-text-primary);
        border: 1px solid var(--color-input-border);
        border-radius: 2px;
        flex-grow: 1;
        padding: 0 8px 0 32px;
        outline: none;
        box-shadow: none;

        &:disabled {
          opacity: 0.5;
        }

        &::placeholder {
          font-size: 13px;
          font-weight: 500;

          color: var(--color-text-primary);
        }

        &:not([disabled]):hover {
          border-color: rgba(12, 12, 13, 0.3);
        }

        &:focus:not([disabled]) {
          border-color: #0a84ff;
          box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
        }

        &:invalid {
          border-color: #d70022;
          box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
        }

        &:required {
          box-shadow: none;
          // border-color: #d7b600;
          // box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, 0.3);
        }
      }
    }
  }
}

.panel-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  border-radius: 2px;
  overflow: hidden;
  flex: 1;
  display: none;

  section {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
}

.panel {
  &-header {
    // display: none;
    position: relative;
    height: 40px;
    width: 100%;

    color: var(--color-text-primary);

    border-bottom: 1px solid var(--color-input-border);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }

    &-icon {
      @extend .center-center;
      position: absolute;
      left: 4px;
      top: 4px;
      height: 32px;
      width: 32px;
      svg {
        fill: var(--primary-icon);
        height: 16px;
        width: 16px;
      }

      &:hover,
      &:active {
        background: var(--color-input-border);
      }
    }
  }

  &-card {
    position: relative;
    background: var(--color-card-bg);
    width: 100%;
    padding-bottom: 8px;

    &-divider {
      position: relative;
      width: 100%;
      height: 1px;
      margin: 4px 0;
      background: var(--color-input-border);
    }

    &-label {
      font-size: 13px;
      color: var(--color-text-secondary);
      padding: 4px 16px;
      font-size: 13px;
      line-height: 1.4;
    }

    &-icon {
      padding: 16px 0;
      text-align: center;
      color: var(--color-text-primary);
      font-size: 15px;
    }

    &-footer {
      position: relative;
      margin-top: 8px;
      text-align: center;
      font-size: 11px;
      color: var(--secondary-icon);
    }

    &-link {
      cursor: default;
      position: relative;
      height: 32px;
      display: flex;
      flex-direction: row;
      width: 100%;

      &:hover {
        background: $grey-90-a10;
      }

      &-icon {
        @extend .center-center;
        margin: 0 8px 0 16px;

        svg {
          height: 16px;
          width: 16px;
          fill: var(--primary-icon);
        }
      }

      &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--color-text-primary);
        font-size: 13px;
        line-height: 1.4;
        flex-grow: 1;
      }

      &-external {
        @extend .center-center;
        color: var(--secondary-icon);
        font-size: 13px;
        margin: 0 16px;

        svg {
          height: 13px;
          width: 13px;
          fill: var(--secondary-icon);
        }
      }
    }
  }
}

/*****************
* TOGGLE CLASSES *
******************/

.all-set {
  .form {
    display: none;
  }
  .info-card {
    display: block;
  }
  .card-menu-icon {
    @extend .center-center;
  }
}

/*************
* COMPONENTS *
**************/

// a {
//   cursor: pointer;
//   color: #0a84ff;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }

//   &:active {
//     color: #003eaa;
//   }

//   &:focus {
//     box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
//   }
// }

input[type="checkbox"] {
  cursor: pointer;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  padding: 0 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--color-input-bg);
  border: 1px solid var(--color-input-border);

  &:checked {
    background: var(--primary-icon);
    border: none;
  }
}

.btn-primary {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 32px;

  color: $white;
  background: #0060df;
  border: none;
  // font-size: 13px;
  border-radius: 2px;

  &:hover {
    background: #003eaa;
  }

  &:active {
    background: #002275;
  }

  &:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff,
      0 0 0 4px rgba(10, 132, 255, 0.3);
  }

  &:disabled {
    opacity: 50%;
  }

  svg {
    fill: $white;
    height: 13px;
    width: 13px;
  }
}

.btn-secondary {
  display: block;
  width: 100%;
  height: 32px;
  cursor: pointer;

  color: var(--color-text-primary);
  background: var(--color-input-border);
  border: none;
  font-size: 13px;
  border-radius: 2px;

  &:hover {
    background: rgba(12, 12, 13, 0.2);
  }

  &:active {
    background: rgba(12, 12, 13, 0.3);
  }

  &:focus {
    box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff,
      0 0 0 4px rgba(10, 132, 255, 0.3);
  }
  &:disabled {
    opacity: 50%;
  }

  svg {
    fill: var(--primary-icon);
    height: 13px;
    width: 13px;
  }
}

.success {
  @extend .message;
  background: #12bc00;
}

.warning {
  @extend .message;
  background: #d7b600;
}

.error {
  @extend .message;
  background: #a4000f;
}

.message {
  position: relative;
  margin: 8px 16px 0 16px;
  padding: 0 8px;
  min-height: 32px;
  display: flex;
  align-items: center;
  color: $black;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;

  .icon-info {
    margin-right: 4px;
    cursor: pointer;
  }

  .action {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    margin-left: 8px;
    background: rgba(12, 12, 13, 0.1);
    border-radius: 2px;
    &:hover {
      background: rgba(12, 12, 13, 0.2);
      cursor: pointer;
    }
  }

  .icon-close {
    position: absolute;
    right: 4px;
    cursor: pointer;

    &:hover,
    &:active {
      background: rgba(12, 12, 13, 0.2);
    }
  }
}

/*********
* MIXINS *
**********/

.center-top {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
